<div class="py-4 px-4 mx-0 mt-8 lg:mx-8">
    <div class="grid justify-content-between">
        <div class="col-12 md:col-2" style="margin-top:-1.5rem;">
            <a (click)="router.navigate(['/'], {fragment: 'home'})"
                class="flex flex-wrap align-items-center justify-content-center md:justify-content-start md:mb-0 mb-3 cursor-pointer">
                <img [src]="logoUrl" alt="footer sections" width="50" height="50" class="mr-2">
                <h4 class="font-medium text-3xl text-900">{{companyName}}</h4>
            </a>
        </div>

        <div class="col-12 md:col-10 lg:col-7">
            <div class="grid text-center md:text-left">
                <div class="col-12 md:col-4 mt-4 md:mt-0">
                    <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Dónde encontrarnos</h4>
                    <span class="line-height-3 text-xl block mb-2 text-700">
                        <i class="pi pi-map-marker mr-2"></i>{{address}}
                    </span>
                </div>
                <div class="col-12 md:col-4 mt-4 md:mt-0">
                    <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Contáctenos</h4>
                    <span class="line-height-3 text-xl block mb-2 text-700">
                        <i class="pi pi-phone mr-2"></i>{{phone}}
                    </span>
                    <span class="line-height-3 text-xl block mb-2 text-700">
                        <i class="pi pi-envelope mr-2"></i> <a href="mailto:{{email}}">{{email}}</a>
                    </span>
                </div>
                <div class="col-12 md:col-4 mt-4 md:mt-0">
                    <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Síganos en</h4>
                    <span class="line-height-3 text-2xl block mb-2 text-700">
                        <a pButton pRipple class="p-button-rounded p-button-lg mr-2" icon="pi pi-facebook"
                            [href]="fbUrl" target="_blank">
                        </a>
                        <a pButton pRipple class="p-button-rounded p-button-lg" icon="pi pi-twitter" [href]="twitterUrl"
                            target="_blank">
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
