<div class="row">
    <div class="col-12">
        <p-card #cardTest class="mb-10">
            Content
        </p-card>
    </div>
    <div class="row">
        <div class="col-12">
            <p-button class="mr-5" label="Main loading" (onClick)="blockMain()"></p-button>
            <p-button label="Card loading" (onClick)="cardBlocked = !cardBlocked"></p-button>
        </div>
    </div>
</div>
<p-blockUI [blocked]="cardBlocked" [target]="cardTest">
    <p-progressSpinner strokeWidth="8" [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
</p-blockUI>
