<p-table #dt [value]="dataListHelper.rows" responsiveLayout="scroll" [paginator]="true"
    [rowsPerPageOptions]="dataListHelper.predefinedRowsCountPerPage" [rows]="dataListHelper.defaultRowsCountPerPage"
    [totalRecords]="dataListHelper.totalRowsCount" [rowHover]="true" dataKey="id" [lazy]="true"
    (onLazyLoad)="loadData($event)" [loading]="dataListHelper.loading">
    <ng-template pTemplate="caption">
        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Mis solucitudes</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" placeholder="Search..." class="w-full sm:w-auto" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Servicio <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="date">Fecha <p-sortIcon field="date"></p-sortIcon>
            </th>
            <th pSortableColumn="price">Precio <p-sortIcon field="price"></p-sortIcon>
            </th>
            <th pSortableColumn="status">Estado <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td style="min-width:10rem;">
                <span class="p-column-title">Nombre</span>
                {{product.InformativeService?.name}}
            </td>
            <td style="min-width:10rem;"><span class="p-column-title">Date</span>
                {{product.date | date : 'MM-dd-YYYY'}}
            </td>
            <td style="min-width:8rem;">
                <span class="p-column-title">Precio</span>
                {{product.InformativeService?.price | currency:'USD'}}
            </td>
            <td style="min-width: 10rem;"><span class="p-column-title">Estado</span>
                <span class="p-badge text-base pl-3 pr-3" [ngClass]="statusHelper.getStatusLabelStyle(product.status)">
                    {{statusHelper.getStatusTranslation(product.status)}}
                </span>
            </td>
            <td>
                <div class="flex">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
