<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <h5>{{publicFund.id ? 'Editar' : 'Nuevo'}} fondo público</h5>
            <div class="p-fluid formgrid grid">
                <div class="field col">
                    <label for="catalogue">Catálogo</label>
                    <input type="text" pInputText id="catalogue" name="catalogue" [(ngModel)]="publicFund.catalogue"
                        required autofocus />
                </div>
            </div>

            <div class="p-fluid formgrid grid">
                <div class="field col">
                    <label for="denomination">Denominación</label>
                    <input type="text" pInputText id="denomination" name="denomination"
                        [(ngModel)]="publicFund.denomination" required />
                </div>
                <div class="field col">
                    <label for="date">Fecha extrema</label>
                    <p-calendar inputId="date" [(ngModel)]="publicFund.date" [required]="true"></p-calendar>
                </div>
            </div>
            <div class="p-fluid formgrid grid">
                <div class="field col">
                    <label for="description">Description</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="publicFund.description" required rows="3"
                        cols="20"></textarea>
                </div>
            </div>
            <div class="field" *ngIf="publicFund.id">
                <p-fileUpload name="files[]" [customUpload]="true" [multiple]="true" mode="advanced"
                    chooseLabel="Agregar" uploadLabel="Subir archivos" cancelLabel="Cancelar"
                    (uploadHandler)="uploadFiles($event.files)" [files]="files">
                    <ng-template pTemplate="content">
                        <ul *ngIf="publicFund.files?.length">
                            <li *ngFor="let file of publicFund.files">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
            </div>
            <div class="field" *ngIf="publicFund.id && publicFund.Archives.length">
                <p-panel>
                    <ng-template pTemplate="header">
                        Archivos del fondo
                    </ng-template>
                    <div class="grid" *ngFor="let item of publicFund.Archives">
                        <div class="col-6">{{item.fileName}}</div>
                        <div class="col-6 text-right">
                            <button pButton pRipple icon="pi pi-times" (click)="deleteFile(item)"></button>
                        </div>
                    </div>
                </p-panel>
            </div>
            <div class="p-card-footer">
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="mr-5"
                    (click)="saveChanges()"></button>
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary"
                    (click)="cancelChanges()"></button>
            </div>
        </div>
    </div>
</div>