<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <h5>{{publicFund.id ? 'Editar' : 'Nuevo'}} fondo público</h5>
            <div class="p-fluid formgrid grid">
                <div class="field col">
                    <label for="catalogue">Catálogo</label>
                    <input type="text" pInputText id="catalogue" name="catalogue" [(ngModel)]="publicFund.name" required
                        autofocus />
                </div>
            </div>

            <div class="p-fluid formgrid grid">
                <div class="field col">
                    <label for="designation">Denominación</label>
                    <input type="text" pInputText id="designation" name="designation"
                        [(ngModel)]="publicFund.designation" required />
                </div>
                <div class="field col">
                    <label for="endDate">Fecha extrema</label>
                    <p-calendar inputId="endDate" [(ngModel)]="publicFund.endDate" [required]="true"></p-calendar>
                </div>
            </div>
            <div class="p-fluid formgrid grid">
                <div class="field col">
                    <label for="description">Description</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="publicFund.description" required rows="3"
                        cols="20"></textarea>
                </div>
            </div>

            <div class="field">
                <p-fileUpload name="demo[]" [customUpload]="true" [multiple]="true" mode="advanced"
                    [showUploadButton]="false" [showCancelButton]="false" chooseLabel="Agregar"
                    (onSelect)="addFile($event)" [files]="files">
                    <ng-template pTemplate="content">
                        <ul *ngIf="publicFund.files?.length">
                            <li *ngFor="let file of publicFund.files">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
            </div>
            <div class="p-card-footer">
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="mr-5"
                    (click)="saveChanges()"></button>
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary"
                    (click)="cancelChanges()"></button>
            </div>
        </div>
    </div>
</div>
